.CornerButtons {
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 12px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    will-change: transfrom;
}

.CornerAnimayedFlex{ 
    width: 40px;
    height: 52px;
    transition: height .2s ease;
}

.CornerButton {
    border: 2px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #1f71e0;
    border-radius: 4px;
}

.CornerButton:hover {
    background-color:gray;
    cursor:pointer;
}

.cba {
    text-decoration: none!important;
    width: 40px;
    height: 40px;
    display: table-cell!important;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    color: #fff!important;
}

.Videoplay {
    vertical-align: middle; 
    border-style: none; 
    display: block; 
    margin: 1rem auto; 
    max-width: 100%;
}

.ReadButton {
    text-align: right;
}

.ReadButton_a {
    display: inline-block;
    margin: 4px 0 0 0;
    padding: 6px 8px;
    border-radius: 20px;
    background-color: #1f71e0;
    text-align: center;
    text-decoration: none!important;
    font-size: large;
}

.ReadButton_a:hover {
    background-color:gray;
    text-decoration: none!important;
}
